<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link href="login.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    </head>
    <body id="cuerpoApp">
        <div class="row headerSide justify-content-end" style="color:white; background-color:#33B5FF;">
            <div class="col-12">
                <div class="row h-100 align-items-center text-center">
                    <h2>Bienvenido a este proyecto</h2>
                    <h4>Ingrese sus credenciales</h4>
                </div>
            </div>
        </div>
        <br>

        <div class="row headerSide justify-content-end" style="color:white; background-color:#33B5FF;">
            <div class="col-12">
                <div class="row h-100 align-items-center text-center">
                    
                    <form method = "post" url="{% url 'project_parcial:register_user' %}">
                    {% csrf_token %}
                        <div>
                            <h4>Ingrese un nuevo usuario</h4>
                            <h4>Ingrese el nombre</h4>
                            <input type="text" name="nombreUsuario">
                        </div>
                        <div>
                            <h4>Ingrese el apellido</h4>
                            <input type="text" name="apellidoUsuario">
                        </div>
                        <div>
                            <h4>Ingrese el codigo</h4>
                            <input type="number" name="codigo_usuario">
                        </div>
                        <div>
                            <h4>Ingrese la clave</h4>
                            <input type="text" name="clave">
                        </div>
                        <br>
                        <button type="submit">Registrar usuario</button>
                    </form>
                    
                    
                </div>
            </div>
        </div>
        <br>
        
        
        
    </body>
</html>